###############################
# 🔧 IntelliJ IDEA / JetBrains
###############################
.idea/
*.iws
*.iml
*.ipr
/shelf/
workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
dataSources.local.xml

####################
# ⚙️ Eclipse
####################
.classpath
.project
.factorypath
.apt_generated
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

####################
# 🎯 NetBeans
####################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

####################
# 💻 Visual Studio Code
####################
.vscode/

####################
# 🍏 macOS
####################
.DS_Store

###############################
# 🧪 Build output (general)
###############################
out/
!**/src/main/**/out/
!**/src/test/**/out/

###############################
# 🛠️ Visual Studio (Windows)
###############################
.vs/
